<h1>Create a New City</h1>
<%= form_with local: true, method: "get" do |form| %>
    <%= label_tag(:title, "City:") %>
    <%= form.text_field :name%><br>

    <%= label_tag(:title, "Population:") %>
    <%= form.text_field :population%><br>

    <%= label_tag(:title, "Most Famous Landmark:") %>
    <%= form.text_field :landmark%><br>

    <%= form.submit%>
<% end %>