<head>
  <%= csrf_meta_tags %>
</head>
<h1>Create a New City</h1>
<%= form_with(method: "post", url: 'create', local: true) do |form| %>
    <%= label_tag(:title, "City:") %>
    <%= form.text_field :name%><br>

    <%= label_tag(:title, "Population:") %>
    <%= form.text_field :population%><br>

    <%= label_tag(:title, "Most Famous Landmark:") %>
    <%= form.text_field :landmark%><br>

    <%= form.submit%>
<% end %>