<h1>Update a City</h1>
<%= form_with method: 'post', local: true, url: 'create' do |form| %>
    <%= label_tag(:title, "City:") %>
    <%= form.text_field :name%><br>

    <%= label_tag(:title, "Population:") %>
    <%= form.number_field :population%><br>

    <%= label_tag(:title, "Most Famous Landmark:") %>
    <%= form.text_field :landmark%><br>

    <%= form.submit%>
<% end %>